.new-note-form {
	width: 100%;
	min-height: 5em;
}

.new-note-form input, .new-note-form textarea {
	width: 100%;
	padding: .25em .5em;
}

.itemInfoLink {
	text-align: center;
}

.itemInfoLink h3 {
    position: relative;
    top: 20px;
}

.articleButtonContainer {
	text-align: center;
	position: relative;
	max-width: 200px;
	margin: 0 auto;
}

@media (max-width: 764px) {
	.articleButtonContainer {
		max-width: 400px;
	}
}
