.col-xs-8:first-of-type {
    text-align: center;
}

.list-group-item a img {
  text-align: center;
}
.list-overflow-container {
  max-height: 545px;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li {
  border: none;
}

.list-group div {
  margin-bottom: .5em;
}

.list-overflow-container li {
  border: thin solid #ddd;
}
