.delete-btn:after {
    content: "";
    display: inline-block;
    height: .75em;
    width: .75em;
    border: #666 solid 1px;
    left: -.65em;
    position: relative;
}

.delete-btn:before {
    content: "delete";
    font-size: .45em;
    width: 3em;
    display: inline-block;
    position: relative;
}

.delete-btn {
    color: #e74944;
    top: .5em;
    position: relative;
    font-size: 3em;
}
